body {
    background-color: lavender;

}

.img {
    display: block;
    text-align: center;
    padding-top: 40px;
}

.header {
    font-size: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
}

.about {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-top: 40px;
}

.italic {
    font-style: oblique;
}

.column {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 24px;
    text-align: center;
    width: 33%;
    flex: 1;
    display: flex;
}

.box {
    border: solid white;
    border-width: 20px;
    padding: 16px;


}

.columnContainer {
    width: 100;
    display: flex;
    flex-direction: column;


    @media (min-width: 768px) {
        width: 75%;
        margin: auto;
        flex-direction: row;
    }
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    color: rgb(96, 96, 199);
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
    display: flex;
}

.cardContainer {
    width: 100;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        width: 75%;
        margin: auto;
        flex-direction: row;
    }

}

.insaneMan {
    color: rgb(73, 73, 164);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.clickMe {
    color: rgb(60, 0, 115);
}